/*
Author: Able Sense Media
Web: ablesense.com
Date of creation: 2014/01/01
*/

@import 'normalize.less';
@import 'mixins-2014.less';

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// CONFIG ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

//Shades
@white: #FFF;
@lightgrey: #f0f0f0;
@grey: #999;
@darkgrey: #333;
@black: #000;

//text color
@text: #555;

//theme colors
@primary: #16a085;
@secondary: #0F0;
// @tertiary: #00F;

//selection color
@select: @primary;

@sans: "adelle-sans", Arial, Tahoma, sans-serif;
@serif: "adelle", Georgia, serif;

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// GENERAL //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

::-moz-selection, ::selection { background: @select; color: #fff; text-shadow: none; }


html {
	box-sizing: border-box;
}

html * {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	font-family: @sans;
	font-size: 100%;
	line-height: 1.75;
	font-weight: 300;
	color: @text;
}

a {
	color: @primary;
	transition: color .2s;
	&:visited { color: @grey; }
	&:hover, &:focus { text-decoration: none; }
	&:active { color: darken(@primary, 10%); }
}

h1                            { font-size: 2.25em; }
h2                            { font-size: 1.75em; }
h3                            { font-size: 1.25em; }
h4                            { font-size: 1em; text-transform: uppercase; }
h5                            { font-size: 1em; text-transform: uppercase; }
h6                            { font-size: 1em; }
h1, h2, h3, h4, h5, h6        { font-family: @serif; clear: left; margin: .5em 0 .25em 0; line-height: 1.125; font-weight: 500; text-rendering: optimizeLegibility; }
h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6, h1:first-child { margin-top: 0; }

abbr, small,
dl, dialog, caption           { font-size: .75em; }
ul, ol                        { margin: 1em 0; padding-left: 2em; }
li ul, li ol                  { margin: 0; padding-left: 1em;}

p                             { word-spacing: 0; margin-bottom: 1em; font-size: 1.25em; }
p+p                           { text-indent: 0; }
pre                           { }
ul, ol, dl, dialog            { margin-top: 0; }

figure{
	margin: 2em 0 3em;

	figcaption{
		padding: .35em 0;
		font-size: .875em;
		font-style: normal;
		color: @text;
	}

	&.quote {
		img {
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			border: solid 4px @white;
			box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
		}
	}

	time {
		display: block;

		&:before {
			content: '';
			display: inline-block;
			margin-right: .25em;
			width: 1em;
			height: 1em;
			background: url(/img/sprite.svg) center -12.5em no-repeat;
			background-size: auto 22em;
		}
	}
}

figure.quote{
	padding: 0 1em;
	margin: 2em 0;

	blockquote {
		margin: 0;
		font-size: 1.25em;
		font-style: italic;
		color: @darkgrey;

		&:before, &:after, p{
			display: inline;
		}

		&:before{
			content: '“';
		}

		&:after{
			content: '”';
		}
	}

	figcaption {
		font-size: .875em;
		color: @grey;
		text-align: left;
	}
}

img{
	max-width: 100%;
	height: auto;
}

table                         { width: 100%; margin-bottom: 1em; }
th, td                        { border-top: solid 1px @lightgrey; padding: .25em .25em 0; vertical-align: top; }
tr:nth-child(odd) td          { background: lighten(@lightgrey, 4%); }
th                            { font-size: .875em; border-top: 0; border-bottom: solid 1px darken(@lightgrey, 10%); text-align: center; color: @black; background: @lightgrey; }
td                            { text-align: center; }
tbody th                      { text-align: left; }

iframe                        { border: 0; }

form                          { overflow: visible; }
fieldset                      { margin-bottom: 1em; border: none; }
legend                        { font-family: @serif; padding: 0 .5em; font-size: 2em; }
label                         { line-height: 1; display: inline-block; width: 100%; }
input, select, textarea {
	box-sizing: border-box;
	width: 100%;
	margin: .5em 0;
	line-height: 1.45;
	color: @text;
	transition: outline .2s;

	&:focus{
		outline: solid 3px @primary;
	}
}

input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"]           { padding: .7em 1.25em .8em; border: solid 1px @grey; }

input[type="radio"],
input[type="checkbox"]        { vertical-align: top; margin: .25em .5em 0 0; }

input[type="file"]            { max-width: 16em; overflow: hidden; }


input[type="submit"],
input[type="reset"],
input[type="button"],
button, .button {
	padding: 1em 2em;
	background: @primary;
	color: @white;
	border: none;
	transition: background .2s;

	&:hover, &:focus{
		background: lighten(@primary, 10%);
		outline: dotted 1px @darkgrey;
	}

	&:active{
		box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .75);
	}
}

textarea {
	overflow: auto;
	line-height: 1.5;
	padding: .5em 1.2em;
	min-height: 10em;
	resize: vertical;
}

/////////////////// Utilities ////////////////////////////////////////////////////////////////////

.preserve-ar{
	position: relative;
	padding: 30px 0 56.25%;
	height: 0;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hidden,
.no-svg { // .no-svg is used for ie7 fix.
	visibility: hidden;
	display: none;
}

a[href^="tel:"]{
	color: @text;
	text-decoration: none;
	cursor: default;
}

strong.highlighted{
	color: @secondary;
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// FLUID ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

header > div, footer > div, main{
	width: 94%;
	margin: 0 3%;
}

header {
	position: relative;
	height: 100%;
	width: 100%;
	color: @white;
	overflow: hidden; // Fixes a animation bug in ie.
	background: @primary url(/img/bg.jpg) center no-repeat;
	background-size: cover;

	a {
		text-decoration: none;
		color: @white;

		&:hover,
		&:visited {
			color: @primary;
		}
	}

	nav {
		padding: 0 3em;
		overflow-y: auto;

		.logo {
			display: none;
		}

		#search {
			position: absolute;
			top: 0;
			right: 1em;
			padding: .55em 1em .65em;
			width: .7em;
			color: transparent;
			background: transparent;
			border: solid 3px transparent;
			border-radius: 2em;
			transition: border-color .2s, background .2s, width .2s;
			will-change: width;

			&:hover {
				border-color: @primary;
			}

			&:focus {
				width: 10em;
				color: lighten(@text, 10%);
				background: @darkgrey;
				outline: none; // Is this okay to do in this context?
			}
		}

		#search-label {
			position: absolute;
			top: 0;
			right: 0;
			color: transparent;
			text-indent: -9999em;
			cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				top: .5em;
				right: 1.1em;
				z-index: 101;
				width: 2.75em;
				height: 2.75em;
				background: url(/img/sprite.svg) center -2em no-repeat;
				background-size: auto 32em;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: .5em;
			}
		}
	}

	.hgroup {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;

		h1 {
			text-transform: uppercase;
			letter-spacing: .05em;
		}

		a {
			&:hover,
			&:visited {
				color: @white;
			}

			&:after {
				content: '';
				display: block;
				margin: 0 auto;
				width: 2.75em;
				height: 2.75em;
				background: url(/img/sprite.svg) center -4.5em no-repeat;
				background-size: auto 32em;
				will-change: transform;
		 		animation: bounceY 1.5s infinite;
			}

	 		&:hover {
	 			&:after {
		 			animation-play-state: paused;
	 			}
	 		}
		}
	}

	&.blog {
		height: auto;
		padding: .35em;
	}
}

.logo {
	float: left;
	margin: .2em 0 0;

	img {
		width: 5em;
	}
}

// This is for the pseudo parallax
#breadcrumbs, #aside, #main, #header {
	position: relative;
	// transition: top .25s ease-out;
	// will-change: top; (causes some wierd jitter)
}

.mobile {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	text-align: right;
	background: @darkgrey;
	transform: translateX(-100%);
	transition: transform .2s;
	will-change: transform;

	ul {
		li {
			display: list-item;
		}
	}

	.logo {
		display: inline-block;
		margin: 0 0 1em;
		width: 100%;
	}

	#search {
		position: relative;
		top: -2.2em;
		right: -.5em;

		&:focus {
			color: @white;
			width: auto;
			background: lighten(@darkgrey, 10%);
		}
	}

	#search-label {
		position: relative;

		&:after {
			top: -.3em;
			right: -.4em;
		}
	}
}

.open {
	transform: translateX(0);
}

.mobileClose,
.mobileTrigger {
	position: absolute;
	width: 2.75em;
	height: 2.75em;
	background: url(/img/sprite.svg) center top no-repeat;
	background-size: auto 32em;
	color: transparent;
	text-indent: -9999em; // Why isn't this working on mobileClose?

	&:hover,
	&:focus,
	&:active {
		color: transparent; // Added because text-indent isn't working on mobileClose.
	}
}

.mobileClose {
	background-position: center -20.3em;
}

main {
	float: left;
	position: relative;
	z-index: 200;
	background: @white;

	img {
		display: block;
		margin: 0 auto;
	}

	&.home {
		figure img {
			float: left;
			margin: .2em;
			border: solid 3px @white;
			border-radius: 100%;
			box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
		}
	}

	ul {
		list-style: none;
		margin: 3em auto;
		padding: 0;
		max-width: 70em;
	}

	&.blog {
		h2 {
			margin-top: 2.5em;
		}

		article > p:first-of-type:first-letter {
			float: left;
			margin: .25em .23em 0 .08em;
			padding: .17em .3em;
			font-family: @serif;
			font-size: 3em;
			line-height: 1;
			color: @white;
			background: @text;
			box-shadow: inset 0 0 0 1px @white, 0 0 0 2px @text;
		}

		time {
			&:before {
				content: '';
				display: inline-block;
				margin-right: .25em;
				width: 1em;
				height: 1em;
				background: url(/img/sprite.svg) center -12.5em no-repeat;
				background-size: auto 22em;
			}
		}

		& > ul {
			opacity: .6;

			li {
				display: inline-block;
				padding: 0 2em 0 0;

				&:nth-child(n+2) { // Skips the first because it's applied by the time element
					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						margin-top: -.25em;
						margin-right: .25em;
						width: 1em;
						height: 1em;
						background: url(/img/sprite.svg) center -23em no-repeat;
						background-size: auto 28em;
					}
				}

				&.food:before {
					background-position: center -26.1em;
				}

				&.links:before {
					background-position: center -24.6em;
				}

				&.views:before {
					background-position: center -24.6em;
					background-size: auto 32em;
				}

				&.comments:before {
					background-position: center -20em;
				}
			}
		}
	}
}

#breadcrumbs {
	margin-bottom: 3em;
	background: lighten(@grey, 30%);

	h2 {
		margin: 0;
		padding: 1em;
		font-size: 1.5em;
		border-bottom: solid 1px @white;
	}

	ul {
		list-style: square;
		padding: 0 2.5em .5em;
	}

	a {
		text-decoration: none;
		color: @text;

		&:hover,
		&:focus {
			color: @primary;
		}
	}
}

aside {
	position: relative;
	z-index: 3;
	color: @white;

	&.blog {
		margin-bottom: 1em; // Just incase main is too short

		& > h2 {
			margin: 0;
			padding: 1em;
			font-size: 1.5em;
			background: @darkgrey;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			padding: 2em 1em;
			width: 100%;
			overflow: hidden;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&:before {
				z-index: -1;
				background: linear-gradient(to right, rgba(22, 160, 133, .3) 0%, rgba(22, 160, 133, .9) 100%);
				opacity: .6;
				transition: opacity .2s;
				will-change: opacity;
			}

			&:after {
				z-index: -2;
				background: url(/img/aside-bg.jpg) center center no-repeat;
				background-size: cover;
				transition: transform .2s;
				// will-change: transform; this was causing a delay in animation
			}

			&:nth-child(2):after {
				background-image: url(/img/aside-bg2.jpg);
			}

			&:nth-child(3):after {
				background-image: url(/img/aside-bg3.jpg);
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				&:after {
					transform: scale(1.1);
				}
			}

			h2 {
				margin-top: 0;
			}

			a {
				font-weight: 600;
				text-decoration: none;
			}

			p {
				margin-bottom: 0;
				border-top: solid 1px @white;

				a {
					color: @white;
				}
			}
		}
	}
}

footer {
	padding: 1em 0;
	text-align: center;
	color: @white;
	background: @darkgrey;

	form {
		max-width: 30em;
		margin: 0 auto;
	}

	label {
		display: none;
	}

	button {
		width: 100%;
		max-width: 30em;
	}

	div {
		text-align: center; // Just for mobile
	}

	.logo {
		float: initial;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
		height: 4em; // Fixes an issue with safari...
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			width: 2.75em;
			height: 2.75em;
			background: url(/img/sprite.svg) center -8.15em no-repeat;
			background-size: auto 39em;
			opacity: .7;
			transition: opacity .2s, transform .2s;

			&:hover {
				opacity: 1;
				transform: translateY(-.2em) scale(1.1);
			}

			&.twitter {
				background-position: center -13.4em;
			}

			&.instagram {
				background-position: center -10.7em;
			}

			a {
				display: inline-block;
				height: 100%;
				color: transparent;
				text-indent: -9999em;
			}
		}
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// TABLETS //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 480px) {
	header > div, footer > div, main{
		width: 96%;
		margin: 0 2%;
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// DESKTOP //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 768px) {
	h1 { font-size: 3.25em; }
	h2 { font-size: 2em; }
	h3 { font-size: 1.5em; }
	h4 { font-size: 1.25em; }
	h5 { font-size: 1em; }
	h6 { font-size: 1em; }

	figure.quote{
		blockquote{
			font-size: 1.25em;
		}
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// LUXURY ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////


@media only screen and (min-width: 1280px) {
	header > div, footer > div, header + div, main{
		max-width: 70em;
		margin: 0 auto;
		padding: 0;
	}

	#breadcrumbs,
	aside.blog {
		float: right;
		margin: 3em 6% 0 0;
		width: 25%;
	}

	main {
		&.blog {
			float: left;
			display: inline-block;
			margin: 3em 6%;
			width: 56%;
		}

		&.home {
			min-width: 100%;

			li {
				float: left;
				margin: 0 1%;

				&:nth-child(even) {
					width: 31.33%;
				}

				&:nth-child(2n+1) {
					width: 64.66%;
				}

				&:nth-child(4n-1) {
					float: right;
				}
			}
		}
	}

	footer {
		// Without this the footer takes up the background of main, is their a better way?
		float: left;
		width: 100%;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// IE FIX ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

.ie {
	.no-svg {
		visibility: visible;
		display: inline-block;
	}

	.svg {
		visibility: hidden;
		display: none;
	}

	#search-label {
		float: right;
		margin: 3.5em 2em;
		width: 10em;
		text-align: right;
		color: @white;
	}

	#search {
		width: auto;
		color: @text;
		background: @white;
	}

	aside {
		li {
			background: @primary;
		}
	}

	footer {
		legend {
			display: block;
			margin: 0 auto;
		}

		label {
			display: initial;
			text-indent: 0;
		}

		input, textarea, button {
			display: block;
			margin: .5em auto;
		}

		ul {
			li {
				background: url(/img/sprite.png) center -13.8em no-repeat;

				&.twitter {
					background: url(/img/sprite.png) center -19em no-repeat;
				}

				&.instagram {
					background: url(/img/sprite.png) center -16.5em no-repeat;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// ANIMATION ////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@keyframes bounceY {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(.5em);
	}
	100% {
		transform: translateY(0);
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// PRINT ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: .5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	header, footer, aside { display: none; visibility: hidden; }
}
